{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>

        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" type ="text/css" href="{% static 'marketplace/main.css' %}">
        <title>Hello, world!</title>
        <link href = "https://fonts.googleapis.com/icon?family=Material+Icons" rel = "stylesheet">
        <link type="text/css" rel="stylesheet" href="{% static 'marketplace/materialize.min.css' %}"  media="screen,projection"/>

</head>
<body>
    <header>
      <!-- <nav>
        <div class="nav-wrapper light-green accent-2" style="border-bottom: 100px;"> 
          <a href="#" class="brand-logo">Logo</a>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <form>
              <div class="input-field">
                <input id="search" type="search" required>
                <label class="label-icon" for="search"><i class="material-icons">search</i></label>
                <i class="material-icons">close</i>
              </div>
            </form>
            <li><a href="sass.html">Sass</a></li>
            <li><a href="badges.html">Components</a></li>
            <li><a href="collapsible.html">JavaScript</a></li>
          </ul>
        </div>
      </nav> -->
        <nav class="navbar navbar-expand-sm navbar-light " style="background-color: #80FF59;">
            <a class="navbar-brand" href="#">FREE.U</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample03" aria-controls="navbarsExample03" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
      
            <div class="collapse navbar-collapse" id="navbarsExample03">
                <form class="form-inline my-2 my-md-0" action="{% url 'search_results' %}" method="get">
                    <input name ="q" class="form-control" type="text" placeholder="Search">
                   
                  </form>
              <ul class="navbar-nav mr-auto">
                {% if user.is_authenticated %}
                    <li class="nav-item" >
                    <a class="nav-link" style="padding: 0%; margin: 7px; float:right"  href="/">HOME <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" style="padding: 0%; margin: 7px;" href="/itempost/new/">POST</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link " style="padding: 0%; margin: 7px;" href="/logout">LOGOUT</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " style="padding: 0%; margin: 7px;" href="/chat">MESSAGES</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" style="padding: 0%; margin: 7px;" href="/profile">PROFILE</a>
                      </li>
                    
                {% else %}    

                    <li class="nav-item active">
                        <a class="nav-link" href="/">HOME <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/register">REGISTER</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " href="/login">LOGIN</a>
                    </li>
                  {% endif %}
                
              </ul>
              
            </div>
          </nav>
         
    
        {% block content %} {% endblock %}

  
  
      <!-- Bootstrap core JavaScript
      ================================================== -->
      <!-- Placed at the end of the document so the pages load faster -->
      <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
      <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
      <script src="../../assets/js/vendor/popper.min.js"></script>
      <script src="../../dist/js/bootstrap.min.js"></script>
      <script type="text/javascript" src="{% static 'marketplace/materialize.min.js' %}"></script>
    
</body>
  