{% extends "marketplace/base.html" %}

{% block content %}
<!-- <div class="active-pink-3 active-pink-4 mb-4">
    <input class="form-control" type="text" placeholder="What Are You Looking For?" aria-label="Search">
  </div> -->
{% for post in posts %}



<article class="media content-section">
  <div class="media-body">
    <div class="article-metadata">
      <a class="mr-2" ><strong>Seller:</strong> {{ post.author }}</a>
      <small class="text-muted">{{ post.date_posted }}</small>
    </div>
    {% if post.item_image %}
      <script>
          // console.log("SRC + " + document.getElementById("myimage").src)
          var wholelink = "{{ post.item_image.url }}"  //original link
          var regex = /.jpg/i
          var endposition = wholelink.search(regex) + 4

          var imagelink = wholelink.slice(38, endposition)

          var imageRequest =JSON.stringify({  // creates json
            bucket:"freeu-images", 
            key: imagelink,
            edits: {
              grayscale: true
            }
          })
          // console.log(imageRequest)
          var encodedrequest = btoa(imageRequest)
          var newimagelink = "https://dsv856zfdr0u5.cloudfront.net/" + encodedrequest

          // console.log(imagelink)
          // console.log(newimagelink)
          // console.log("Item image: {{ post.item_image }}")
          // document.getElementById("myimage").src = newimagelink
          console.log("{{ post.get_new_url }}")
      </script>
      
        <div class = "article-img">
          
            <img id = "myimage" src="{{ post.get_new_url }}">
        </div>
        
    {% endif %}
    <h2><a class="article-title" href="{% url 'itempost-detail' post.id %}">{{ post.title }}</a></h2>
    <p class="article-content">Condition: {{ post.condition }}</p>
  </div>
</article>
{% endfor %}
        <!-- <p>Author: {{ post.author }}</p>
        <p>Title: {{ post.title }}</p>
        <p>Date Posted: {{ post.date_posted }}</p>
        <p>Condition: {{ post.condition }}</p> -->


                
                  
                
{% endblock content %}
