{% extends "marketplace/base.html" %}

{% block content %}
  <div class="media-body">
    <div class="article-metadata">
      <a class="mr-2" href="#">{{ object.author }}</a>
      <small class="text-muted">{{ object.date_posted }}</small>
    </div>
    <h2 class ="article-title">{{ object.title }}</h2>
    <p class="article-content">Condition: {{ object.condition }}</p>
  </div>
</article>

        <!-- <p>Author: {{ post.author }}</p>
        <p>Title: {{ post.title }}</p>
        <p>Date Posted: {{ post.date_posted }}</p>
        <p>Condition: {{ post.condition }}</p> -->


                
                  
                
{% endblock content %}
