body {
    margin: 0;
    background: whitesmoke
}

.container {
    width: 80%;
    margin: 0 auto;
}

header {
    background: #ABFF91
}
header::after {
    content: '';
    display:table;
    clear:both;
}
nav {
    float: right;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style:none;
}
nav li {
    display: inline-block;
    margin-left: 70px;
    padding-top: 15px;
    margin-bottom: 15px;

    position: relative; 
}


nav a {
    color: black;
    text-decoration: none;
    text-transform: uppercase;
}
nav a:hover {
    color: grey;

}

nav a::before{ 
    content: '';
    display: block;
    height: 5px;
    background-color: rebeccapurple;
    position: absolute;
    top: 0;
    width: 0%;
    transition: all ease-in-out 250ms;
}
nav a:hover::before {
    width: 100%;
}
/* ################################### */

.blogShort{ border-bottom:1px solid #ddd;}
.add{ padding: 10%; height: 300px;}

.nav-sidebar { 
    width: 100%;
    padding: 8px 0; 
    border-right: 1px solid #ddd;
}
.nav-sidebar a {
    color: #333;
    -webkit-transition: all 0.08s linear;
    -moz-transition: all 0.08s linear;
    -o-transition: all 0.08s linear;
    transition: all 0.08s linear;
}
.nav-sidebar .active a { 
    cursor: default;
    background-color: #34ca78; 
    color: #fff; 
}
.nav-sidebar .active a:hover {
    background-color: #37D980;   
}
.nav-sidebar .text-overflow a,
.nav-sidebar .text-overflow .media-body {
    white-space: nowrap;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis; 
}

.btn-blog {
    color: #ffffff;
    background-color: #37d980;
    border-color: #37d980;
    border-radius:0;
    margin-bottom:10px
}
.btn-blog:hover,
.btn-blog:focus,
.btn-blog:active,
.btn-blog.active,
.open .dropdown-toggle.btn-blog {
    color: white;
    background-color:#34ca78;
    border-color: #34ca78;
}
 h2{color:#34ca78;}
 .margin10{margin-bottom:10px; margin-right:10px;}